.navbar {
    width: 100%;
}

ul {
    padding: 0;
}

ul>li {
    display: inline;
    padding: 0.5em;
    margin: 0.5em;
}

a {
    text-decoration: none;
    color: white;
    background-color: gray;
    border: 1px solid #000;
    margin: 5px;
    padding: 5px;
}

a.active {
    color: black;
    background-color: lightgray;
}