.navbar {
    width: 100%;
}

.navbar ul>li {
    display: inline;
    padding: 0.5em;
    margin: 0.5em;
}

.sidebar {
    margin-right: 1em;
    background-color: white;
}

.main {
    background-color: lightgray;
}

